<ion-header-bar>
  <button class="button button-icon icon ion-home" ng-click="home()"></button>
  <h1 class="title">RooHub</h1>
  <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content padding="true">
  <div>
   <div>
       Hello, <label><b>{{username1}}</b></label>
    </div>
  <div>
    <h4>Welcome to RooHub</h4>
  </div>

<div align="right">
  <br>
     <button class="button button-block button-calm padding-horizontal" ng_click="profile()">Profile</button>
</div><br>


  <button class="button button-block button-calm padding-horizontal" ng_click="BoardRoom()">Board Room</button><br>

    <button class="button button-block button-calm padding-horizontal" ng_click="task()">Task Tracker</button><br>

    </div>
  <div align="center">
    <h3>Get Connected</h3><h3>-</h3><h3>Stay Connected</h3>
  </div>
  <div>


    </div>
</ion-content>

