
     <ion-header-bar>
         <div>
              <button class="button button-icon icon ion-home" ng-click="home()"></button>
            <h1 align="center" class="title">Update Profile</h1>

            <button align='left'class="button button-clear button-balanced" ng-click="logout()">Logout</button>
         </div>
        </ion-header-bar>
  <ion-content>
     <div align="center" class="rows">
         <input type="text" id="user" class="form-control" placeholder="Enter new Username"
                required autofocus ng-model="username">
              <input type="text" id="user" class="form-control" placeholder="Enter new Password"
                required autofocus ng-model="password">
          <input type="text" id="user" class="form-control" placeholder="Enter new Email"
                required autofocus ng-model="email">
    <button class="button button-block button-balanced padding-horizontal" ng-click="update(username,password,email)">Update Profile</button>
            </div>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Subject 1
        </div>
        <select>
          <option>ASE</option>
          <option selected>PB</option>
          <option>NA1</option>
        </select>
      </label>

    </div>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Subject 2
        </div>
        <select>
          <option>ASE</option>
          <option selected>PB</option>
          <option>NA1</option>
        </select>
      </label>

    </div>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Subject 3
        </div>
        <select>
          <option>ASE</option>
          <option selected>PB</option>
          <option>NA1</option>
        </select>
      </label>

    </div>

  </ion-content>
