<ion-view view-title="RooHub" name="login-view">
  <ion-header-bar class="bar-stable">
    <h1 class="title">RooHub</h1>
  </ion-header-bar>
  <ion-content padding="true">
<div>
    <h4 class="form-signin-heading">Please Sign in</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" id="password" class="form-control" placeholder="Password" required autofocus ng-model="password">
      </label>
    </div>
    <button class="button button-block button-balanced padding-horizontal" ng_click="login(username,password)" type="submit">Login</button>


      <h4 style="color:green">New to RooHub?<span style="padding: 0 20px">&nbsp;</span>
        <a href="#register" class="balanced" >Register Here!!!</a>
      </h4>

      <div id="x"></div><br>
<br>
  <div class="login">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>



  <!--<div class="card">
    <div class="item item-divider">
      Why RooHub?
    </div>
    <div class="item item-text-wrap">
      There will be many ways to connect with friends, Faculty, Teachings Assistants. But Roohub is the best place, where you can connect with all by just a single tap
    </div>

  </div>-->

    <!--<h4 style="color: grey"><b>Why RooHub?</b></h4>
    <h4 style="color: grey">There will be many ways to connect with friends, Faculty, Teachings Assistants. But Roohub is the best place, where you can connect with all by just a single tap.</h4>-->
</div>
  </ion-content>
</ion-view>
